.navbar-brand {
    font-family: "Oooh Baby", cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 48px !important;
 }

 .nav-link {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 15px !important;
    color: #000 !important;
}
 