{% extends 'shared.html'%}

{% block content %}
<form
    hx-encoding='multipart/form-data' 
    hx-post='/upload'
    _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100'>
  <input type='file' name='file'>
  <button class"form-control">
    Upload
  </button>
  <progress id='progress' value='0' max='100'></progress>
</form>
<div class="row">
  <div class="col-md-6">
    <img class="img-thumbnail" src="/images/01e430cc-70ef-4084-98e1-482eab551080_Ben-6.jpg">
  </div>
  <div class="col-md-6">
    <img class="img-thumbnail" src="/images/a114c0db-2ed6-4531-9c53-caf4fb690829_DSCF7147.JPG">
  </div>
</div>
{% endblock %}
