{% extends 'shared.html'%}

{% block content %}
<form
    hx-encoding='multipart/form-data' 
    hx-post='/upload'
    _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100'>
  <input type='file' name='file'>
  <button class"form-control">
    Upload
  </button>
  <progress id='progress' value='0' max='100'></progress>
</form>
<div class="row">
  <div class="col-md-6">
    <img class="img-thumbnail" src="/images/2f247c95-6ab2-482a-8733-03c5dd18288d_000021.jpg">
  </div>
</div>
{% endblock %}
